[Unit]
Description=turn tesla ac on when target button pressed
After=network.target

[Service]
ExecStart=sudo /usr/bin/python3 /home/ubuntu/tesla-climate-button/main.py /home/ubuntu/tesla-climate-button/cfg.yaml
WorkingDirectory=/home/ubuntu/tesla-climate-button
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
